div.bodyDiv(ng-controller='HomeCtrl')
  .site-wrap
    .sideBarNav
      nav.leftNav
        .container-fluid
          hr
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='toggleNav()') Sets
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("KTK"); buttonDisable("KTK")', ng-disabled='disabledButtons.KTK') 
                  img.iconStyle(src='../../images/png/KTK.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("FRF"); buttonDisable("FRF")', ng-disabled='disabledButtons.FRF')
                  img.iconStyle(src='../../images/png/FRF.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("DTK"); buttonDisable("DTK")', ng-disabled='disabledButtons.DTK') 
                  img.iconStyle(src='../../images/png/DTK.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("JOU"); buttonDisable("JOU")', ng-disabled='disabledButtons.JOU')
                  img.iconStyle(src='../../images/png/JOU.png')
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle
                  img.iconStyle(ng-if='setClicked', src='{{setClicked}}') 
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("BNG"); buttonDisable("BNG")', ng-disabled='disabledButtons.BNG')
                  img.iconStyle(src='../../images/png/BNG.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("THS"); buttonDisable("THS")', ng-disabled='disabledButtons.THS')
                  img.iconStyle(src='../../images/png/THS.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='submit("M15"); buttonDisable("M15")', ng-disabled='disabledButtons.M15')
                  img.mtgIconStyle(src='../../images/png/M15.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle.setsBG(ng-click='resetCards()')
                  img.iconStyle(src='../../images/png/untap.png')
          hr
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()') Color:
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'White'" uncheckable) 
                  img.iconStyle(src='../../images/png/White.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Blue'" uncheckable)
                  img.iconStyle(src='../../images/png/Blue.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Black'" uncheckable)
                  img.iconStyle(src='../../images/png/Black.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Red'" uncheckable)
                  img.iconStyle(src='../../images/png/Red.png')
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()')
                  img.iconStyle(ng-if='colorModel', src='../../images/png/{{colorModel}}.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Green'" uncheckable) 
                  img.iconStyle(src='../../images/png/Green.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Colorless'" uncheckable)
                  img.iconStyle(src='../../images/png/Colorless.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="colorModel" btn-radio="'Land'" uncheckable)
                  img.iconStyle(src='../../images/png/Land.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='resetCards()')
                  img.iconStyle(src='../../images/png/untap.png')
          hr
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()')
                  span(ng-if='!rarityModel') Rarity:
                  img.iconStyle(ng-if='rarityModel', src='../../images/png/{{rarityModel}}.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="rarityModel" btn-radio="'Common'" uncheckable) 
                  img.iconStyle(src='../../images/png/common.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="rarityModel" btn-radio="'Uncommon'" uncheckable)
                  img.iconStyle(src='../../images/png/uncommon.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="rarityModel" btn-radio="'Rare'" uncheckable)
                  img.iconStyle(src='../../images/png/rare.png')
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="rarityModel" btn-radio="'Mythic'" uncheckable)
                  img.iconStyle(src='../../images/png/mythic.png')
          hr
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()') Sort:
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model='sortModel' btn-radio="'cmc'" uncheckable) Casting 
                  br
                  span Cost 
              col-xs-2
                button.btn.btn-default.btnNavStyle.disabled(ng-model='sortModel' btn-radio="''" uncheckable) Number
              col-xs-2
                button.btn.btn-default.btnNavStyle.disabled(ng-model='sortModel' btn-radio="''" uncheckable) Color
              col-xs-2
                button.btn.btn-default.btnNavStyle.disabled(ng-model='sortModel' btn-radio="''" uncheckable) Alphabetic
          hr
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()') Filter:
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Creature'" uncheckable) Creature 
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Legendary'" uncheckable) Legendary
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Enchantment'" uncheckable) Enchantment
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Planeswalker'" uncheckable) Planeswalker
          .row
            .btn-group
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-click='toggleNav()')
                  span(ng-if='typeModel') {{typeModel}}
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Instant'" uncheckable) Instant
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Sorcery'" uncheckable) Sorcery
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Dragon'" uncheckable) Dragon
              col-xs-2
                button.btn.btn-default.btnNavStyle(ng-model="typeModel" btn-radio="'Warrior'" uncheckable) Warrior                
    .push-wrap
      .holdsEverything
        nav.navbar.navbar-default.topNav
          .container-fluid
            .navbar-header
              a.navbar-brand(ui-sref='home') Brew
              ul.nav.navbar-nav.navbar-right
                li: a(ui-sref='about'): i.fa.fa-info &nbsp; About
        .container
          col-xs-2(ng-repeat='card in cards | colorFilter:colorModel:typeModel:rarityModel | orderBy:sortModel') 
            img.imgCtrl(src='{{card.imageUrl}}')
