.container-fluid
  .row
    .col-xs-12
      div.centerStyle
        h2.splashStyle Brew
          h4 A Magic: The Gathering Compendium 
      div
        button.btn.btn-default(ui-sref='home') Start Brewing
